name: 02-Evento Issue
on:
    issues:
        types: [opened]

jobs:
    hola-mundo:
        runs-on: ubuntu-latest
        steps:
            - name: Hola Mundo Issues
              run: echo "Hola Xavi!"
