name: 02-Evento Issue
on:
    issues:
        types: [opened]
    push:
        paths-ignore:
            - "**.md"


jobs:
    hola-mundo:
        runs-on: ubuntu-latest
        steps:
            - name: Hola Mundo Issues
              run: echo "Hola Xavi!"
